@import '../../utils/GlobalStyles/_variables.scss';

.mediaCard {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid $cardBorderColor;
  background-color: $cardBgColor;
  transition: background-color 500ms ease;
  z-index: 1;

  &:nth-of-type(2n) {
    background-color: $white;
  }

  &:last-of-type {
    border-bottom: 0;
  }

  &__info,
  &__counts {
    display: flex;
    align-items: center;
  }

  &__counts {
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__name {
    display: block;
    font-size: 13px;
    font-weight: 700;
  }

  &__title {
    font-size: 16px;
    margin: 0 0 5px 0;
  }

  &__image {
    margin: 0 10px 0 0;
  }

  // In Dark Theme
  .dark & {
    background-color: $cardBgColorDark;
    border-color: $cardBorderColor;

    &:nth-of-type(2n) {
      background-color: $lightBlack;
    }
  }

  @media screen and (max-width: $sm-max) {
    &__name {
      font-size: 12px;
    }

    &__title {
      font-size: 15px;
    }
  }
}
