@import '../../utils/GlobalStyles/variables.scss';

.button {
  display: block;
  width: auto;
  min-width: 120px;
  background-color: $lightCobaltBlue;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: $buttonTextColor;
  text-align: center;
  border: 1px solid $lightCobaltBlue;
  border-radius: $borderRadius;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 500ms ease;
  &[disabled] {
    border-color: $lighterBlack;
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }

  &:hover {
    border-color: $middleBluePurple;
    background-color: $middleBluePurple;
  }

  &--center {
    margin: 15px auto 0 auto;
  }

  &--outlined {
    color: $buttonOutlinedTextColor;
    background-color: $white;

    &:hover {
      background-color: $white;
    }
  }
}
