@import '../../utils/GlobalStyles/variables.scss';

.list {
  &__title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 15px 0;
  }

  @media screen and (max-width: $sm-max) {
    &__title {
      font-size: 28px;
    }
  }
}
