@import '../../utils/GlobalStyles/_variables.scss';

.counts {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  padding: 5px 0;

  &__icon {
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__text {
    min-width: 95px;
    text-align: right;

    .mediaCard & {
      min-width: 85px;
    }
  }

  // In Dark Theme
  .dark & {
    &__icon {
      svg {
        fill: $white;
      }
    }
  }

  @media screen and (max-width: $sm-max) {
    font-size: 12px;

    &__icon {
      svg {
        width: 16px;
        height: 16px;
      }
    }

    &__text {
      min-width: 80px;

      .mediaCard & {
        min-width: 65px;
      }
    }
  }
}
