@import '../../utils/GlobalStyles/variables.scss';

.app {
  &__header {
    width: 100%;
    background-color: $black;
    text-align: center;
    padding: 15px;
    margin: 0 0 15px 0;
  }

  &__main {
    width: 100%;
    height: calc(100vh - 171px);
  }

  &__footer {
    width: 100%;
    background-color: $black;
    font-size: 14px;
    color: $white;
    text-align: center;
    padding: 15px;
    margin: 15px 0 0 0;
  }
}
