/*--------------------------------------------------------------
## General
--------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*--------------------------------------------------------------
### HTML & Body
--------------------------------------------------------------*/
body {
  max-width: 100%;
  width: 100%;
  background-color: $white;
  font-family: $fontFamily;
  font-size: $fontSizeBase;
  line-height: $LineHeightBase;
  font-weight: $fontWeightBase;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  transition: background-color 500ms ease;

  &.dark {
    background-color: $lighterBlack;
    color: $white;
  }
}

/*--------------------------------------------------------------
### Images, Iframe, Video
--------------------------------------------------------------*/
img,
iframe,
video,
picture {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
}

/*--------------------------------------------------------------
### Container
--------------------------------------------------------------*/
.container {
  position: relative;
  max-width: $container-width;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
