.image {
  object-fit: contain;

  &-small {
    max-width: 32px;
    height: 32px;
  }

  &-medium {
    max-width: 64px;
    height: 64px;
  }

  &-large {
    max-width: 128px;
    height: 128px;
  }
}
